## Import Libraries

In [1]:
import pandas as pd
import numpy as np

### Read datasets

In [2]:
train = pd.read_csv("C:\\Users\\rahul\\Desktop\\py+dy12\\project\\project1\\live_project\\data\\train.csv")
test = pd.read_csv("C:\\Users\\rahul\\Desktop\\py+dy12\\project\\project1\\live_project\\data\\test.csv")

In [3]:
train.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

In [4]:
test.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name
0,0013_01,Earth,True,G/3/S,TRAPPIST-1e,27.0,False,0.0,0.0,0.0,0.0,0.0,Nelly Carsoning
1,0018_01,Earth,False,F/4/S,TRAPPIST-1e,19.0,False,0.0,9.0,0.0,2823.0,0.0,Lerome Peckers
2,0019_01,Europa,True,C/0/S,55 Cancri e,31.0,False,0.0,0.0,0.0,0.0,0.0,Sabih Unhearfus
3,0021_01,Europa,False,C/1/S,TRAPPIST-1e,38.0,False,0.0,6652.0,0.0,181.0,585.0,Meratz Caltilter
4,0023_01,Earth,False,F/5/S,TRAPPIST-1e,20.0,False,10.0,0.0,635.0,0.0,0.0,Brence Harperez

### Checking NA values

In [5]:
train.isna().sum()

PassengerId       0
HomePlanet      201
CryoSleep       217
Cabin           199
Destination     182
Age             179
VIP             203
RoomService     181
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
Name            200
Transported       0
dtype: int64

In [6]:
print('Number of unique cabins:',train['Cabin'].nunique())
print('Number of unique names:',train['Name'].nunique())

Number of unique cabins: 6560
Number of unique names: 8473

In [7]:

train.drop(columns=['Cabin','Name'],inplace=True)
test.drop(columns=['Cabin','Name'],inplace=True)

In [8]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   8693 non-null   object
 1   HomePlanet    8492 non-null   object
 2   CryoSleep     8476 non-null   object
 3   Destination   8511 non-null   object
 4   Age           8514 non-null   float64
 5   VIP           8490 non-null   object
 6   RoomService   8512 non-null   float64
 7   FoodCourt     8510 non-null   float64
 8   ShoppingMall  8485 non-null   float64
 9   Spa           8510 non-null   float64
 10  VRDeck        8505 non-null   float64
 11  Transported   8693 non-null   bool
dtypes: bool(1), float64(6), object(5)
memory usage: 755.7+ KB

In [9]:
from sklearn.impute import SimpleImputer

In [10]:

imputer_cols = ['Age', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck' ,'RoomService']
imputer = SimpleImputer(strategy='median')
imputer.fit(train[imputer_cols])
train[imputer_cols] = imputer.transform(train[imputer_cols])

In [11]:
train.isna().sum()

PassengerId       0
HomePlanet      201
CryoSleep       217
Destination     182
Age               0
VIP             203
RoomService       0
FoodCourt         0
ShoppingMall      0
Spa               0
VRDeck            0
Transported       0
dtype: int64

In [12]:

train['HomePlanet'].fillna('NaN', inplace=True)
test['HomePlanet'].fillna('NaN', inplace=True)
train['Destination'].fillna('NaN', inplace=True)
test['Destination'].fillna('NaN', inplace=True)

In [13]:

true_count_VIP = train[train['VIP'] == True]['VIP'].count()
false_count_VIP = train[train['VIP'] == False]['VIP'].count()
true_count_Cryo = train[train['CryoSleep'] == True]['CryoSleep'].count()
false_count_Cryo = train[train['CryoSleep'] == False]['CryoSleep'].count()

In [14]:

print('VIP true count:',   true_count_VIP)
print('VIP false count:',  true_count_VIP)
print('Cryo true count:',  true_count_Cryo)
print('Cryo false count:', false_count_Cryo)

VIP true count: 199
VIP false count: 199
Cryo true count: 3037
Cryo false count: 5439

In [15]:

train['VIP'].fillna(False, inplace=True)
train['CryoSleep'].fillna(False, inplace=True)
test['VIP'].fillna(False, inplace=True)
test['CryoSleep'].fillna(False, inplace=True)

In [16]:
train.isna().sum()

PassengerId     0
HomePlanet      0
CryoSleep       0
Destination     0
Age             0
VIP             0
RoomService     0
FoodCourt       0
ShoppingMall    0
Spa             0
VRDeck          0
Transported     0
dtype: int64

### LabelEncoding to convert text data to numeric data

In [17]:
from sklearn.preprocessing import LabelEncoder

In [18]:


label_cols = ['HomePlanet', 'CryoSleep', 'Destination' ,'VIP']
def label_encoder(train,test,columns):
    for col in columns:
        train[col] = train[col].astype(str)
        test[col] = test[col].astype(str)
        train[col] = LabelEncoder().fit_transform(train[col])
        test[col] =  LabelEncoder().fit_transform(test[col])
    return train, test

train ,test = label_encoder(train, test , label_cols)

In [19]:
train

,PassengerId,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported
0,0001_01,1,0,3,39.0,0,0.0,0.0,0.0,0.0,0.0,False
1,0002_01,0,0,3,24.0,0,109.0,9.0,25.0,549.0,44.0,True
2,0003_01,1,0,3,58.0,1,43.0,3576.0,0.0,6715.0,49.0,False
3,0003_02,1,0,3,33.0,0,0.0,1283.0,371.0,3329.0,193.0,False
4,0004_01,0,0,3,16.0,0,303.0,70.0,151.0,565.0,2.0,True
...,...,...,...,...,...,...,...,...,...,...,...,...
8688,9276_01,1,0,0,41.0,1,0.0,6819.0,0.0,1643.0,74.0,False
8689,9278_01,0,1,2,18.0,0,0.0,0.0,0.0,0.0,0.0,False
8690,9279_01,0,0,3,26.0,0,0.0,0.0,1872.0,1.0,0.0,True
8691,9280_01,1,0,0,32.0,0,0.0,1049.0,0.0,353.0,3235.0,False
8692,9280_02,1,0,3,44.0,0,126.0,4688.0,0.0,0.0,12.0,True

In [20]:
from sklearn.model_selection import train_test_split

In [21]:
X = train.drop('Transported' , axis =1 )
y = train['Transported']

# Split data
X_train , X_val , y_train , y_val = train_test_split(X, y, random_state = 12 , test_size =0.2)

### Train the model

In [22]:
from sklearn.ensemble import RandomForestClassifier

In [23]:
rf = RandomForestClassifier(max_depth= 8, max_features= 'auto', min_samples_leaf= 4, 
                                min_samples_split= 2, n_estimators= 20)

In [24]:
rf.fit(X_train, y_train)

RandomForestClassifier(max_depth=8, min_samples_leaf=4, n_estimators=20)

### Gridserach to get best parameters

In [25]:
grid_rf = RandomForestClassifier()

In [26]:
param_grid_rf = {
    'n_estimators': [10, 20],
    'max_depth': [6, 7, 8],
    'min_samples_split': [ 2, 3, 4],
    'min_samples_leaf': [3, 4],
    'max_features': ['auto', 'sqrt', 'log2', None]
}

In [27]:
from sklearn.model_selection import GridSearchCV

In [28]:
grid_search_rf = GridSearchCV(estimator=grid_rf, param_grid=param_grid_rf, cv=5, scoring='accuracy')

In [29]:
grid_search_rf.fit(X_train, y_train)

GridSearchCV(cv=5, estimator=RandomForestClassifier(),
             param_grid={'max_depth': [6, 7, 8],
                         'max_features': ['auto', 'sqrt', 'log2', None],
                         'min_samples_leaf': [3, 4],
                         'min_samples_split': [2, 3, 4],
                         'n_estimators': [10, 20]},
             scoring='accuracy')

In [30]:
print('Random Forest:')
print('Best hyperparameters:',grid_search_rf.best_params_)
print('Best score:', grid_search_rf.best_score_)

Random Forest:
Best hyperparameters: {'max_depth': 8, 'max_features': 'sqrt', 'min_samples_leaf': 4, 'min_samples_split': 2, 'n_estimators': 20}
Best score: 0.7953682718814166

### Pickle the model

In [31]:
import pickle

In [32]:
filename = 'finalized_model.sav'
pickle.dump(rf, open(filename, 'wb'))

### Load pickled model

In [33]:
loaded_model = pickle.load(open(filename, 'rb'))

In [34]:
X_val

,PassengerId,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
2768,2983_01,0,0,3,13.0,0,0.0,0.0,31.0,0.0,810.0
2106,2257_02,1,1,0,22.0,0,0.0,0.0,0.0,0.0,0.0
2903,3138_01,0,0,3,30.0,0,0.0,4.0,1604.0,678.0,1681.0
6780,7159_01,1,1,2,32.0,0,0.0,0.0,0.0,0.0,0.0
3632,3904_01,0,0,3,65.0,0,0.0,0.0,0.0,0.0,909.0
...,...,...,...,...,...,...,...,...,...,...,...
4226,4498_06,0,0,3,15.0,0,0.0,893.0,0.0,0.0,0.0
4061,4338_01,1,0,3,51.0,0,0.0,0.0,0.0,0.0,0.0
598,0623_01,0,1,3,22.0,0,0.0,0.0,0.0,0.0,0.0
6483,6841_01,2,1,0,29.0,0,0.0,0.0,0.0,0.0,0.0
7028,7485_01,1,0,3,26.0,0,36.0,2285.0,0.0,2287.0,159.0

In [35]:
y_pred = loaded_model.predict(X_val)

In [36]:
from sklearn.metrics import accuracy_score

In [37]:
accuracy = accuracy_score(y_val, y_pred)

In [38]:
accuracy

0.7883841288096607

### For testing purpose

In [39]:
test.head(1)

,PassengerId,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
0,0013_01,0,1,3,27.0,0,0.0,0.0,0.0,0.0,0.0